@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-sb: #01c38d;
  --black-sb: #191e29;
  --hover-black-sb: #191e2986;
  --blue-sb: #132d46;
  --gray-sb: #696e79;
  --white-sb: #fafafa;
}

/* width */
*::-webkit-scrollbar {
  @apply w-[2px] rounded-lg
}

/* Track */
*::-webkit-scrollbar-track {
  background-color: var(--blue-sb);
  @apply rounded-lg
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--gray-sb);
  @apply rounded-lg
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: var(--gray-sb);
}

body {
  @apply bg-slate-800 text-white h-screen
}