@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --green-sb: #01c38d;
  --black-sb: #191e29;
  --hover-black-sb: #191e29c2;
  --blue-sb: #132d46;
  --hover-blue-sb: #132d46a4;
  --gray-sb: #696e79;
  --white-sb: #fafafa;
} */

:root {
  --yellow-sb: #f9b17a;
  --hover-yellow-sb: #f9b17abb;
  --black-sb: #191e29;
  --hover-black-sb: #191e29c2;
  --blue-sb: #132d46;
  --hover-blue-sb: #132d46a4;
  --gray-sb: #696e79;
  --white-sb: #fafafa;
}

/* width */
*::-webkit-scrollbar {
  @apply w-[3px] rounded-lg
}

/* Track */
*::-webkit-scrollbar-track {
  background-color: var(--blue-sb);
  @apply rounded-lg
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--hover-yellow-sb);
  @apply rounded-lg
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  @apply bg-[var(--yellow-sb)]
}

body {
  @apply bg-slate-800 text-white h-screen
}